<nav class="p-1 px-3 border flex justify-between shadow-lg fixed w-full bottom-0 bg-white">
  <button class="station flex flex-col items-center">
    <i data-feather="home"></i>
    <small>Home</small>
  </button>
  <button class="station flex flex-col items-center">
    <i data-feather="film"></i>
    <small>Shorts</small>
  </button>
  <button class="station flex flex-col items-center">
    <i data-feather="archive"></i>
    <small>Subscription</small>
  </button>
  <button class="station flex flex-col items-center">
    <i data-feather="book"></i>
    <small>Library</small>
  </button>
</nav>

</main>
<script>
  feather.replace();
</script>
</body>

</html>